@media all and (max-width: 800px) {
    html {
        font-size: 1.1em;
    }

    body {
        margin: 0px;
        background: url("../img/plumberMob.jpg") no-repeat;
        background-size: 100%;
        font-family: 'Roboto', sans-serif;
        color: #2d2c31;
    }

    .footer .contacts ul li {
        border: 3px solid #8b190f;
        display: block;
        margin-bottom: 15px;
        width: max-content;
    }

    .footer .address ul li {
        border: 3px solid #8b190f;
        display: block;
        margin-bottom: 15px;
    }


}
