html {
    background: url("../img/JackieChan.jpeg") no-repeat;
    background-size: cover;
    margin: 0px;
    font-size: 1.5em;
}

body {
    margin: 0px;
    //background-color: #6F180F;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 20px;
}

h2 {
    font-size: 1em;
}

.info a {
    text-decoration: none;
    color: #DCA477;
}

.info ul li a:hover {
    font-weight: bold;
}

.info .address ul li {
    width: max-content;
    list-style-type: none;
    margin-bottom: 7px;
    border: 3px solid red;
    border-radius: 5px;
    padding: 3px;
}

.info .contacts ul li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    border: 3px solid red;
    border-radius: 5px;
    padding: 3px;
}


