@media all and (max-width:800px) {
    html {
        font-size: 15px;
    }

    body {
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #000;
        min-width: 320px;
    }

    .navbar-brand {
        width: 200px;
        height: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        padding: 50px 0;
    }

    a {
        #111;
    }

    a:hover {
        #555;
    }

    /*Header*/

    .navbar-light .navbar-nav .nav-link {
        color: #111;
        font-weight: 500;
        text-transform: uppercase;
    }

    .navbar-nav .dropdown-menu {
        right: 0;
        left: auto;
    }

    .top-menu li a::after {
        content: '';
        display: block;
        width: 100%;
        background-color: #111;
        height: 1px;
        transition: all .3s;
        transform: scale(0);
    }

    .top-menu li a:hover::after {
        transform: scale(1);
    }


    /*Header*/

    /*main*/
    .container {

        color: #17333f;
        background-color: #fff;
        background: url(../img/plitka.jpg)no-repeat;
        background-size: 100%;
        padding: 20px;
    }

    .col {
        font-size: 15px;
        margin: 10px;
        /*main*/


        /*footer*/
        .question {
            font-style: italic;
        }

        .answer {
            font-weight: bold;
        }

        a {
            color: #17333f;
        }

        .messengers {
            margin: 0px;
            padding: 0px;
        }

        .messengers ul,
        .messengers ol {
            list-style: none;
        }

        .messengers > ul {
            display: flex;
        }

        .messengers > ul li a {
            display: block;
            margin: 0px;
            padding: 0px 40px 15px 10px;
            font-size: 40px;
        }


        /*footer*/
        /*Carousel*/

        .my-carousel {
            padding: 0;
        }

        .my-carousel .carousel-item {
            margin-left: 0px;
            /*Carousel*/

            .my-carousel {
                padding: 0;
            }

            .my-carousel .carousel-item{
                margin:0px;
                max-height:none;
                max-width: none;
            }

            .carousel-caption{
                
            }
            /*Carousel*/
        }









    }
